AF_log.md
nb_template.ipynb
py_template.py
*.pdf
*.docx
*.DS_Store
*.ipynb

/docket

/data/manual/*
!/data/manual/BIL_bridge_project_coordinates_dedupe_reformat.csv
!/data/manual/flourish_map.csv

/data/BIL/

/data/NBI/

